nav {
    width: 70%;
    margin: 90px auto;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}

.refs {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 690px) {
        display: block;
        text-align: center;
        li {
            padding: 10px 0;
            cursor: pointer;
        }
    }
}