.image-from-gallery {
    position: relative;
    padding-top: 24px;
    background-color: black;
}

.gallery {
    display: flex;
    height: 120px;
    background-color: black;
    align-items: center;
    overflow-x: auto;
}
.current-image {
    width: 100vw;    
}

.current-image-in-gallery {
    border: solid 2.5px #fc0;
    transition: 0.5s
}

.iamge-gallery {
    height: 90px;
    width: 120px;
    padding: 2px;
}

.iamge-gallery:first-child {
    padding-left: 3px;
}

.arrow {
    padding: 24px;
}

.arrow-container {
    position: absolute;
    top: 1;
    display: flex;
    align-content: center;
    height: 100%;
}

.arrow-container:first-child {
    left: 1;
}

.arrow-container:nth-child(2) {
    right: 1;
}