// colors
$tema: #965454;

// fonts
$abel: 'Abel', sans-serif;

@import "normalize-scss/sass/_normalize.scss";
@include normalize();

body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}
